@model HistoricBattles.Models.BattleViewModel
@inject HistoricBattles.Services.BattleServices BattleServices

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="container header">
    <p id="initialD">@Model.Stages.First().DescriptionG</p>
</header>
<div class="container battle" id="battle">
    <div class="row battlerow1">
        <div class="col-md-1 battlecolmd1"></div>
        <div class="col-md-10 col-sm-4 battlecolmd10" id="article">
            <canvas id="canvas" width="1070" height="600" style="border:2px solid black;"></canvas>
        </div>
        <div class="col-md-1 battlecolmd1"></div>
    </div>
</div>
<div class="container description" id="description">
    <div class="row battlerow2">
        <div class="col-md-3 battlecolmd3 col-sm-1">
            <p id="asideleft">@Model.Stages.First().DescriptionE2</p>
        </div>
        <div class="col-md-6 col-sm-3 battlecolmd6"></div>
        <div class="col-md-3 col-sm-1 battlecolmd3">
            <p id="asideright">@Model.Stages.First().DescriptionE1</p>
        </div>
    </div>
</div>

<footer class="container footer">
    <input id="FstStage_btn" type="button" value="Primera Fase" />
    <input id="SndStage_btn" type="button" value="Segunda Fase" />
    <input id="TrdStage_btn" type="button" value="Tercera Fase" />
    <input id="FthStage_btn" type="button" value="Cuarta Fase" />
    <input id="FithStage_btn" type="button" value="Quinta Fase" />
</footer>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/lib/jquery/dist/jquery.js" charset="iso-8859-1"></script>
<script>
    var stageNumber = 1;

    window.onload = function () {
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
        //var mapImg = document.getElementById("battleMap");

        var mapImg = new Image();
        mapImg.src = "@Url.Content("~/images/ImagesHome/")@Model.Image";
        mapImg.onload = function () {
            drawBattleStage(stageNumber, ctx, mapImg);
        };

        $('#FstStage_btn').click(function () {
            $('#initialD').text( "@Model.Stages.ElementAt(1).DescriptionG");
            $('#asideleft').text("@Model.Stages.ElementAt(1).DescriptionE2");
            $('#asideright').text("@Model.Stages.ElementAt(1).DescriptionE1");

            drawBattleStage(2, ctx, mapImg);
            //stageNumber = 2; // para poder hacer con
            // la funcion drawMovingRect
        });

        $('#SndStage_btn').click(function () {
            $('#initialD').text( "@Model.Stages.ElementAt(2).DescriptionG");
            $('#asideleft').text("@Model.Stages.ElementAt(2).DescriptionE2");
            $('#asideright').text("@Model.Stages.ElementAt(2).DescriptionE1");

            drawBattleStage(3, ctx, mapImg);
            //stageNumber = 1;// para poder hacer con
            // la funcion drawMovingRect
        });

        $('#TrdStage_btn').click(function () {
            $('#initialD').text( "@Model.Stages.ElementAt(3).DescriptionG");
            $('#asideleft').text("@Model.Stages.ElementAt(3).DescriptionE2");
            $('#asideright').text("@Model.Stages.ElementAt(3).DescriptionE1");

            drawBattleStage(4, ctx, mapImg);
        });

        $('#FthStage_btn').click(function () {
            $('#initialD').text( "@Model.Stages.ElementAt(4).DescriptionG");
            $('#asideleft').text("@Model.Stages.ElementAt(4).DescriptionE2");
            $('#asideright').text("@Model.Stages.ElementAt(4).DescriptionE1");

            drawBattleStage(5, ctx, mapImg);
        });

        $('#FithStage_btn').click(function () {
            $('#initialD').text( "@Model.Stages.ElementAt(5).DescriptionG");
            $('#asideleft').text("@Model.Stages.ElementAt(5).DescriptionE2");
            $('#asideright').text("@Model.Stages.ElementAt(5).DescriptionE1");

             drawBattleStage(6, ctx, mapImg);
        });

        // para poder ver el puntero del raton
        window.addEventListener('mousemove', function (e) {
            var rect = canvas.getBoundingClientRect();
            console.log("posicion del mapa x: " + (e.x - rect.x) + ", posicion y: " + (e.y - rect.y));
        });

        //function drawMovingRect() {
        //    drawBattleStage(stageNumber, ctx, mapImg);
        //    window.requestAnimationFrame(drawMovingRect);
        //}
        //window.requestAnimationFrame(drawMovingRect);
    };

    function drawBattleStage(stageNumber, ctx, mapImg) {
        drawMap(ctx, mapImg);
        var regiments = loadRegiments();
        drawRegiments(ctx, regiments, stageNumber);
    }

    function loadRegiments() {
        @{
            List<Regiment> regiments = BattleServices.GetRegimentsDB(Model.BattleId);
        }
        var stage1Regiments = [
        @{

            foreach (Regiment regiment in regiments)
            {
                if (regiment.StageID == 1)
                {
                    <text>{ image:"</text>@regiment.Image<text>", PosX:</text>@regiment.PosX<text>, PosY:</text>@regiment.PosY<text>},</text>
                }
            }
        }
        ];

        var stage2Regiments = [
        @{
            foreach (Regiment regiment in regiments)
            {
                if (regiment.StageID == 2)
                {
                    <text>{ image:"</text>@regiment.Image<text>", PosX:</text>@regiment.PosX<text>, PosY:</text>@regiment.PosY<text>},</text>
                }
            }
        }
        ];

         var stage3Regiments = [
        @{
            foreach (Regiment regiment in regiments)
            {
                if (regiment.StageID == 3)
                {
                    <text>{ image:"</text>@regiment.Image<text>", PosX:</text>@regiment.PosX<text>, PosY:</text>@regiment.PosY<text>},</text>
                }
            }
        }
        ];

         var stage4Regiments = [
        @{
            foreach (Regiment regiment in regiments)
            {
                if (regiment.StageID == 4)
                {
                    <text>{ image:"</text>@regiment.Image<text>", PosX:</text>@regiment.PosX<text>, PosY:</text>@regiment.PosY<text>},</text>
                }
            }
        }
        ];

         var stage5Regiments = [
        @{
            foreach (Regiment regiment in regiments)
            {
                if (regiment.StageID == 5)
                {
                    <text>{ image:"</text>@regiment.Image<text>", PosX:</text>@regiment.PosX<text>, PosY:</text>@regiment.PosY<text>},</text>
                }
            }
        }
        ];

         var stage6Regiments = [
        @{
            foreach (Regiment regiment in regiments)
            {
                if (regiment.StageID == 6)
                {
                    <text>{ image:"</text>@regiment.Image<text>", PosX:</text>@regiment.PosX<text>, PosY:</text>@regiment.PosY<text>},</text>
                }
            }
        }
        ];

        return {
            stage1Regiments: stage1Regiments,
            stage2Regiments: stage2Regiments,
            stage3Regiments: stage3Regiments,
            stage4Regiments: stage4Regiments,
            stage5Regiments: stage5Regiments,
            stage6Regiments: stage6Regiments
        };
    }

    function drawMap(ctx, mapImg) {
        ctx.drawImage(mapImg, 0, 0, 1070, 600, 0, 0, 1070, 600);
    }

    function drawRegiments(ctx, regiments, stageNumber) {
        if (stageNumber == 1) {
            var regimentsToDraw = regiments.stage1Regiments;
            regimentsToDraw.forEach(function (regiment) {
                var regImg = new Image();
                regImg.src = "@Url.Content("~/images/regimientos/")"+regiment.image;
                regImg.onload = function () {
                    ctx.drawImage(regImg, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                    };
            });
        } else if (stageNumber == 2) {
            var regimentsToDraw = regiments.stage2Regiments;
            regimentsToDraw.forEach(function (regiment) {
                    var regImg = new Image();
                    regImg.src = "@Url.Content("~/images/regimientos/")"+regiment.image;
                    regImg.onload = function () {
                        ctx.drawImage(regImg, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                      };
            });
        } else if (stageNumber == 3) {
            var regimentsToDraw = regiments.stage3Regiments;
            regimentsToDraw.forEach(function (regiment) {
                var regImg = new Image();
                    regImg.src = "@Url.Content("~/images/regimientos/")"+regiment.image;
                    regImg.onload = function () {
                        ctx.drawImage(regImg, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                      };
            });
        } else if (stageNumber == 4) {
            var regimentsToDraw = regiments.stage4Regiments;
            regimentsToDraw.forEach(function (regiment) {
                    var regImg = new Image();
                    regImg.src = "@Url.Content("~/images/regimientos/")"+regiment.image;
                    regImg.onload = function () {
                        ctx.drawImage(regImg, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                    };
            });
        } else if (stageNumber == 5) {
            var regimentsToDraw = regiments.stage5Regiments;
            regimentsToDraw.forEach(function (regiment) {
                    var regImg = new Image();
                    regImg.src = "@Url.Content("~/images/regimientos/")"+regiment.image;
                    regImg.onload = function () {
                        ctx.drawImage(regImg, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                    };
            });
        } else if (stageNumber == 6) {
            var regimentsToDraw = regiments.stage6Regiments;
            regimentsToDraw.forEach(function (regiment) {
                   var regImg = new Image();
                    regImg.src = "@Url.Content("~/images/regimientos/")"+regiment.image;
                    regImg.onload = function () {
                        ctx.drawImage(regImg, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                    };
            });
        }
    }
   
</script>

