@model HistoricBattles.Models.BattleViewModel
@inject HistoricBattles.Services.BattleServices BattleServices

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <p id="initialD">@Model.Stages.First().DescriptionG</p>
</header>
<div class="container" id="battle">
    <div class="row">
        <div class="col-md-1">
            <img />
        </div>
        <div class="col-md-10 col-sm-4" id="article">
            <img src="~/images/regimientos/Rgto_fran_art.jpg" id="rgtoartfra" alt="artfra" title="Regimiento ArtilleríaF" hidden />
            <img src="~/images/regimientos/Rgto_fran_chi.jpg" id="rgtochifra" alt="chifra" title="Regimiento de CaballeríaF" hidden />
            <img src="~/images/regimientos/Rgto_fran_inf.jpg" id="rgtoinffra" alt="inffra" title="Regimiento de InfanteríaF" hidden />
            <img src="~/images/regimientos/Rgto_spa_art.jpg" id="rgtoartspa" alt="artspa" title="Regimiento ArtilleríaS" hidden />
            <img src="~/images/regimientos/Rgto_spa_chiv.jpg" id="rgtochispa" alt="chispa" title="Regimiento de CaballeríaS" hidden />
            <img src="~/images/regimientos/Rgto_spa_inf.jpg" id="rgtoinfspa" alt="infspa" title="Regimiento de InfanteríaS" hidden />
            <canvas id="canvas" width="1070" height="600" style="border:2px solid black;"></canvas>
        </div>
        <div class="col-md-1">
            <img />
        </div>
    </div>
</div>
<div class="container" id="description">
    <div class="row">
        <div class="col-md-3 col-sm-1">
            <p id="asideleft">@Model.Stages.First().DescriptionE2</p>
        </div>
        <div class="col-md-6 col-sm-3">

        </div>
        <div class="col-md-3 col-sm-1">
            <p id="asideright">@Model.Stages.First().DescriptionE1</p>
        </div>
    </div>
</div>

<footer>
    <input id="FstStage_btn" type="button" value="Primera Fase" />
    <input id="SndStage_btn" type="button" value="Segunda Fase" />
    <input id="TrdStage_btn" type="button" value="Tercera Fase" />
    <input id="FthStage_btn" type="button" value="Cuarta Fase" />
    <input id="FithStage_btn" type="button" value="Quinta Fase" />
</footer>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/lib/jquery/dist/jquery.js" charset="iso-8859-1"></script>
<script>
    var stageNumber = 1;

    window.onload = function () {
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
        //var mapImg = document.getElementById("battleMap");

        var mapImg = new Image();
        mapImg.src = "@Url.Content("~/images/ImagesHome/")@Model.Image";
        mapImg.onload = function () {
            drawBattleStage(stageNumber, ctx, mapImg);
        };

        $('#FstStage_btn').click(function () {
            $('#initialD').text( "@Model.Stages.ElementAt(1).DescriptionG");
            $('#asideleft').text("@Model.Stages.ElementAt(1).DescriptionE2");
            $('#asideright').text("@Model.Stages.ElementAt(1).DescriptionE1");

            drawBattleStage(2, ctx, mapImg);
            //stageNumber = 2; // para poder hacer con
            // la funcion drawMovingRect
        });

        $('#SndStage_btn').click(function () {
            $('#initialD').text( "@Model.Stages.ElementAt(2).DescriptionG");
            $('#asideleft').text("@Model.Stages.ElementAt(2).DescriptionE2");
            $('#asideright').text("@Model.Stages.ElementAt(2).DescriptionE1");

            drawBattleStage(3, ctx, mapImg);
            //stageNumber = 1;// para poder hacer con
            // la funcion drawMovingRect
        });

        $('#TrdStage_btn').click(function () {
            $('#initialD').text( "@Model.Stages.ElementAt(3).DescriptionG");
            $('#asideleft').text("@Model.Stages.ElementAt(3).DescriptionE2");
            $('#asideright').text("@Model.Stages.ElementAt(3).DescriptionE1");

            drawBattleStage(4, ctx, mapImg);
        });

        $('#FthStage_btn').click(function () {
            $('#initialD').text( "@Model.Stages.ElementAt(4).DescriptionG");
            $('#asideleft').text("@Model.Stages.ElementAt(4).DescriptionE2");
            $('#asideright').text("@Model.Stages.ElementAt(4).DescriptionE1");

            drawBattleStage(5, ctx, mapImg);
        });

        $('#FithStage_btn').click(function () {
            $('#initialD').text( "@Model.Stages.ElementAt(5).DescriptionG");
            $('#asideleft').text("@Model.Stages.ElementAt(5).DescriptionE2");
            $('#asideright').text("@Model.Stages.ElementAt(5).DescriptionE1");

             drawBattleStage(6, ctx, mapImg);
        });

        // para poder ver el puntero del raton
        window.addEventListener('mousemove', function (e) {
            var rect = canvas.getBoundingClientRect();
            console.log("posicion del mapa x: " + (e.x - rect.x) + ", posicion y: " + (e.y - rect.y));
        });

        //function drawMovingRect() {
        //    drawBattleStage(stageNumber, ctx, mapImg);
        //    window.requestAnimationFrame(drawMovingRect);
        //}
        //window.requestAnimationFrame(drawMovingRect);
    };

    function drawBattleStage(stageNumber, ctx, mapImg) {
        drawMap(ctx, mapImg);
        var regiments = loadRegiments();
        drawRegiments(ctx, regiments, stageNumber);
    }

    function loadRegiments() {
        @{
            List<Regiment> regiments = BattleServices.GetRegimentsDB(Model.BattleId);
        }
        var stage1Regiments = [
        @{

            foreach (Regiment regiment in regiments)
            {
                if (regiment.StageID == 1)
                {
                    <text>{ image:"</text>@regiment.Image<text>", PosX:</text>@regiment.PosX<text>, PosY:</text>@regiment.PosY<text>},</text>
                }
            }
        }
        ];

        var stage2Regiments = [
        @{
            foreach (Regiment regiment in regiments)
            {
                if (regiment.StageID == 2)
                {
                    <text>{ image:"</text>@regiment.Image<text>", PosX:</text>@regiment.PosX<text>, PosY:</text>@regiment.PosY<text>},</text>
                }
            }
        }
        ];

         var stage3Regiments = [
        @{
            foreach (Regiment regiment in regiments)
            {
                if (regiment.StageID == 3)
                {
                    <text>{ image:"</text>@regiment.Image<text>", PosX:</text>@regiment.PosX<text>, PosY:</text>@regiment.PosY<text>},</text>
                }
            }
        }
        ];

         var stage4Regiments = [
        @{
            foreach (Regiment regiment in regiments)
            {
                if (regiment.StageID == 4)
                {
                    <text>{ image:"</text>@regiment.Image<text>", PosX:</text>@regiment.PosX<text>, PosY:</text>@regiment.PosY<text>},</text>
                }
            }
        }
        ];

         var stage5Regiments = [
        @{
            foreach (Regiment regiment in regiments)
            {
                if (regiment.StageID == 5)
                {
                    <text>{ image:"</text>@regiment.Image<text>", PosX:</text>@regiment.PosX<text>, PosY:</text>@regiment.PosY<text>},</text>
                }
            }
        }
        ];

         var stage6Regiments = [
        @{
            foreach (Regiment regiment in regiments)
            {
                if (regiment.StageID == 6)
                {
                    <text>{ image:"</text>@regiment.Image<text>", PosX:</text>@regiment.PosX<text>, PosY:</text>@regiment.PosY<text>},</text>
                }
            }
        }
        ];

        return {
            stage1Regiments: stage1Regiments,
            stage2Regiments: stage2Regiments,
            stage3Regiments: stage3Regiments,
            stage4Regiments: stage4Regiments,
            stage5Regiments: stage5Regiments,
            stage6Regiments: stage6Regiments
        };
    }

    function drawMap(ctx, mapImg) {
        ctx.drawImage(mapImg, 0, 0, 1070, 600, 0, 0, 1070, 600);
        ctx.font = '24px Comic Sans';
        ctx.fillStyle = "#ff0000";
        ctx.fillText('Bailén', 850, 200);
        ctx.fillText('Haza Walona', 550, 485);
        ctx.fillText('San Valentín', 550, 25);
        ctx.fillText('A Ándujar', 15, 300);
    }

    function drawRegiments(ctx, regiments, stageNumber) {
        if (stageNumber == 1) {
            var regimentsToDraw = regiments.stage1Regiments;
            regimentsToDraw.forEach(function (regiment) {
                if (regiment.image == "Rgto_fran_art.jpg") {
                    ctx.drawImage(rgtoartfra, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_fran_chi.jpg") {
                    ctx.drawImage(rgtochifra, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_fran_inf.jpg") {
                    ctx.drawImage(rgtoinffra, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_spa_art.jpg") {
                    ctx.drawImage(rgtoartspa, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_spa_chiv.jpg") {
                    ctx.drawImage(rgtochispa, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_spa_inf.jpg") {
                    ctx.drawImage(rgtoinfspa, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                }
            });
        } else if (stageNumber == 2) {
            var regimentsToDraw = regiments.stage2Regiments;
            regimentsToDraw.forEach(function (regiment) {
                if (regiment.image == "Rgto_fran_art.jpg") {
                    ctx.drawImage(rgtoartfra, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_fran_chi.jpg") {
                    ctx.drawImage(rgtochifra, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_fran_inf.jpg") {
                    ctx.drawImage(rgtoinffra, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_spa_art.jpg") {
                    ctx.drawImage(rgtoartspa, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_spa_chiv.jpg") {
                    ctx.drawImage(rgtochispa, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_spa_inf.jpg") {
                    ctx.drawImage(rgtoinfspa, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                }
            });
        } else if (stageNumber == 3) {
            var regimentsToDraw = regiments.stage3Regiments;
            regimentsToDraw.forEach(function (regiment) {
                if (regiment.image == "Rgto_fran_art.jpg") {
                    ctx.drawImage(rgtoartfra, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_fran_chi.jpg") {
                    ctx.drawImage(rgtochifra, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_fran_inf.jpg") {
                    ctx.drawImage(rgtoinffra, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_spa_art.jpg") {
                    ctx.drawImage(rgtoartspa, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_spa_chiv.jpg") {
                    ctx.drawImage(rgtochispa, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_spa_inf.jpg") {
                    ctx.drawImage(rgtoinfspa, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                }
            });
        } else if (stageNumber == 4) {
            var regimentsToDraw = regiments.stage4Regiments;
            regimentsToDraw.forEach(function (regiment) {
                if (regiment.image == "Rgto_fran_art.jpg") {
                    ctx.drawImage(rgtoartfra, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_fran_chi.jpg") {
                    ctx.drawImage(rgtochifra, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_fran_inf.jpg") {
                    ctx.drawImage(rgtoinffra, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_spa_art.jpg") {
                    ctx.drawImage(rgtoartspa, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_spa_chiv.jpg") {
                    ctx.drawImage(rgtochispa, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_spa_inf.jpg") {
                    ctx.drawImage(rgtoinfspa, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                }
            });
        } else if (stageNumber == 5) {
            var regimentsToDraw = regiments.stage5Regiments;
            regimentsToDraw.forEach(function (regiment) {
                if (regiment.image == "Rgto_fran_art.jpg") {
                    ctx.drawImage(rgtoartfra, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_fran_chi.jpg") {
                    ctx.drawImage(rgtochifra, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_fran_inf.jpg") {
                    ctx.drawImage(rgtoinffra, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_spa_art.jpg") {
                    ctx.drawImage(rgtoartspa, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_spa_chiv.jpg") {
                    ctx.drawImage(rgtochispa, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_spa_inf.jpg") {
                    ctx.drawImage(rgtoinfspa, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                }
            });
        } else if (stageNumber == 6) {
            var regimentsToDraw = regiments.stage6Regiments;
            regimentsToDraw.forEach(function (regiment) {
                if (regiment.image == "Rgto_fran_art.jpg") {
                    ctx.drawImage(rgtoartfra, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_fran_chi.jpg") {
                    ctx.drawImage(rgtochifra, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_fran_inf.jpg") {
                    ctx.drawImage(rgtoinffra, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_spa_art.jpg") {
                    ctx.drawImage(rgtoartspa, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_spa_chiv.jpg") {
                    ctx.drawImage(rgtochispa, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                } else if (regiment.image == "Rgto_spa_inf.jpg") {
                    ctx.drawImage(rgtoinfspa, 0, 0, 72, 72, regiment.PosX, regiment.PosY, 15, 15);
                }
            });
        }
    }

</script>

